extends layout

block content
    h1 Welcome!
    p Please browse through the object_name_url you want to find...
    p Here are some choices tho: 
    ul 
        li 
            a(href='/nexus-5') nexus-5
        li 
            a(href='/android-4-4-kitkat') android-4-4-kitkat
        li 
            a(href='/qualcomm-snapdragon-800') qualcomm-snapdragon-800
        li 
            a(href='/qualcomm-adreno-330') qualcomm-adreno-330
        li 
            a(href='/qualcomm-krait-400') qualcomm-krait-400